/* main container center - для центрирование по X, Y */
.mcc {
	display: flex;
	justify-content: center;
	align-items: center;
}

/**/

.success {
	position: fixed;
	background-color: #333;
	backdrop-filter: blur(10px);
	font-size: 18px;
}

.success_false {
	position: fixed;
	background-color: rgb(176, 10, 10);
	backdrop-filter: blur(10px);
	font-size: 16px;
}

/* backdrop blur white */
.bg_blur {
	background-color: rgb(24, 24, 24);
	backdrop-filter: blur(50px);
}

/* child mess */
